投稿一覧



<%= link_to "新規投稿", new_post_path %>

<div>

<% @tag_list.each do |list|%>
<%= list.name %>
<%= "(#{list.posts.count})" %><% end %>

<% @posts.each do |post| %>

<%= link_to post_path(post.id) do %>
<%= image_tag post.get_image(200, 200) %>
<% end %>

<%= post.title %>
<%= post.rating %>
<%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %>


<% end %>

</div>