投稿一覧



<%= link_to "新規投稿", new_post_path %>

<div>

ジャンル一覧
<% @genres.each do |genre| %>
<%= link_to genre.name, genres_path(genre_id: genre.id), method: :get %>
<% end %>

タグ一覧
<% @tag_list.each do |list| %>
<%= link_to list.name, search_tag_path(tag_id: list.id) %>
<%= "(#{list.posts.published.count})" %>
<% end %>

<%= render 'index', posts: @posts %>

</div>