投稿詳細

<div>
<%= image_tag @post.get_image(400, 400) %>

<%= link_to mypage_path(@post.user.id) do %>
<%= image_tag @post.user.get_profile_image(300,300) %>
<% end %>

<%= @post.user.name %>
<%= @post.title %>
<%= @post.content %>
<%= @post.price %>
<%= @post.rating %>

</div>

<%= link_to '編集', edit_post_path %>
<%= button_to '削除', post_path(@post.id), method: :delete, data: { turbo_confirm: "本当に削除してよろしいですか？"} %>

