投稿詳細

<div>
<%= image_tag @post.get_image(400, 400) %>

<%= link_to mypage_path(@post.user.id) do %>
<%= image_tag @post.user.get_profile_image(300,300) %>
<% end %>

<%= @post.user.name %>
<%= @post.title %>
<%= @post.content %>
<%= @post.price %>
<%= @post.rating %>

</div>

<div>
  <p>コメント件数：<%= @post.post_comments.count %></p>
  <% @post.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.content %>


  <% if post_comment.user == current_user %>

   <%= button_to '削除', post_post_comment_path(post_comment.post, post_comment), method: :delete, data: { turbo_confirm: "コメントを削除してよろしいですか？"} %>
  <% end %>

  <% end %>

　<% @post_tags.each do |tag| %>
  <%= link_to tag.name, search_tag_path(tag_id: tag.id) %><%="(#{tag.posts.count})" %>
  <% end %>

</div>
<div>
  <%= form_with model: [@post, @post_comment] do |f| %>
    <%= f.text_area :content, placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>


<% if @post.user == current_user %>

<%= link_to '編集', edit_post_path %>
<%= button_to '削除', post_path(@post.id), { method: :delete, form: { data: { turbo_confirm: "本当に削除してよろしいですか？"} } }%>

<% end %>