<div class="container">
 <div class="row justify-content-center">
  <h2 class="title mb-2">ショップ管理</h2>

   <div class="col-md-3 m-3 p-3">
    <h5 class="title mb-2">新規登録</h5>
    <%= form_with model: @shop, url:admin_shops_path, method: :post do |f| %>

    <div class="form-group row">
     <div class="field">
      <h6 class="text-dark p-2">ショップ名</h6>
     　<%= f.text_field :name, class: 'form-control'%>
     </div>
    </div>
    <div class="actions m-3">
     <%= f.submit '投稿',class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>

  <div class="col-md-8 m-3 p-3 offset-md-1">
   <h5 class="title m-2 p-2 mb-0">ショップ一覧</h5>
    <% @shops.each do |shop| %>

     <table class="table hover table-inverse" style="table-layout: auto;">
      <tbody>
       <tr>
        <th scope="col"><%= shop.name %></th>
        <th scope="col"><%= link_to "編集", edit_admin_shop_path(shop.id), class: "btn btn-success" %></th>
        <th scope="col"><%= button_to "削除", admin_shop_path(shop.id), class: "btn btn-danger", method: :delete, form: { data: { turbo_confirm: "削除してよろしいですか？" } }%></th>
       </tr>
      </tbody>
     </table>
   <% end %>
  </div>
 </div>
</div>
