<%= @user.name %>さんのプロフィール編集

<%= form_with model: @user, url:user_path(@user.id), method: :patch do |f| %>

<h4>プロフィール画像</h4>
<%= f.file_field :profile_image %>

<h4>名前</h4>
<%= f.text_field :name %>

<h4>メールアドレス</h4>
<%= f.email_field :email %>

<h4>自己紹介</h4>
<%= f.text_field :introduction %>

<%= f.submit "変更を保存" %>

<% end %>