<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/3e35bd34ae.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
       <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
     <a class="navbar-brand p-6" href="/">
       <%= link_to root_path do %><% end %></a>

     <div class="col-md-2 align-self-center">
     <% if user_signed_in? %>
     <p class="text-primary">ようこそ、<%= current_user.name %>さん！</p>
     <% end %>
     </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
     <ul class="navbar-nav ml-auto mb-2 mb-lg-0">

     <% if user_signed_in? %>
       <li class="nav-item">
         <%= link_to "マイページ", mypage_path, class: 'nav-link' %>
       </li>
       <li class="nav-item">
         <%= link_to "投稿一覧", posts_path, class: 'nav-link' %></li>
       <li class="nav-item">
         <%= link_to "レビュー一覧",class: 'nav-link' %></li>
       <li class="nav-item">
         <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link' %>
       </li>

     <% elsif admin_signed_in? %>
       <li class="nav-item">
         <%= link_to "会員一覧",  class: 'nav-link' %></li>
       <li class="nav-item">
         <%= link_to "投稿一覧", class: 'nav-link' %></li>
       <li class="nav-item">
         <%= link_to "レビュー一覧", class: 'nav-link' %></li>
       <li class="nav-item">
         <%= link_to "コメント一覧",class: 'nav-link' %></li>
       <li class="nav-item">
         <%= link_to "ショップ管理", admin_shops_path, class: 'nav-link' %></li>
       <li class="nav-item">
         <%= link_to "ジャンル管理", admin_genres_path, class: 'nav-link' %></li>
       <li class="nav-item">
         <%= button_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link' %>
       </li>

     <% else %>
       <li class="nav-item">
         <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
       </li>
       <li class="nav-item">
         <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
       </li>
       <li class="nav-item">
         <%= button_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: 'nav-link' %>
       </li>
    <% end %>

    </div>
    </div>
   </nav>
  </header>

    <main>
      <%= yield %>
    </main>
    <!--<footer class="container-fluid mt-5 bg-secondary text-white pt-5 pb-4">-->
    <!-- <div class="row">-->
    <!-- </div>-->
    <!--</footer>-->
  </body>
</html>
